{% extends 'base.html' %}

{% block title %}
Jadwal
{% endblock title %}

{% block header %}
<h1 class="mt-4">Jadwal</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Laporan</li>
</ol>
{% endblock header %}

{% block cardheader %}
<i class="fas fa-table me-1"></i>
Jadwal Matakuliah
{% endblock cardheader %}

{% block cardtable %}
<p>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addnewmember"
        style="width:300px;">
        Tambah Jadwal
    </button>
</p>
<!-- Modal -->
<div class="modal fade" id="addnewmember" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tambah Jadwal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label>Id Jadwal</label>
                        <input type="text" id="Nim" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label>Ruangan</label>
                        <input type="text" id="Nama" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label>Hari</label>
                        <input type="text" id="Kelas" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label>Jam Mulai</label>
                        <input type="text" id="Semester" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label>Jam Selesai</label>
                        <input type="text" id="Telepon" class="form-control" />
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="submit">Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>

<hr style="border-top:1px solid #000; clear:both;" />
<table id="datatablesSimple" class="table table-bordered">
    <thead>
        <tr>
            <th>Jadwal</th>
            <th>Pertemuan</th>
            <th>Golongan</th>
            <th>Matakuliah</th>
            <th>Dosen</th>
            <th>Ruangan</th>
            <th>Hari</th>
            <th>Jam Mulai</th>
            <th>Jam Selesai</th>
        </tr>
    </thead>
    <tbody>
        {% for Member in Members %}
        <tr>
            <td>{{ Member.idJadwal }}</td>
            <td>{{ Member.pertemuan }}</td>
            <td>{{ Member.namaGol }}</td>
            <td>{{ Member.mataKuliah }}</td>
            <td>{{ Member.namaDosen }}</td>
            <td>{{ Member.ruangan }}</td>
            <td>{{ Member.hari }}</td>
            <td>{{ Member.jamMulai }}</td>
            <td>{{ Member.jamSelesai }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock cardtable %}