{% extends 'base.html' %}

{% block title %}
Matakuliah
{% endblock title %}

{% block header %}
<h1 class="mt-4">Matakuliah</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Laporan</li>
</ol>
{% endblock header %}

{% block cardheader %}
<i class="fas fa-table me-1"></i>
Data Matkul
{% endblock cardheader %}

{% block cardtable %}
<p>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#addnewmember" style="width:300px;">
        Tambah Matkul
    </button>
</p>
<!-- Modal -->
<div class="modal fade" id="addnewmember" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tambah Matkul</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <form method="POST">
            <div class="modal-body">
                    {% csrf_token %}
                    {{ form.as_p }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="submit">Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>

<hr style="border-top:1px solid #000; clear:both;" />
<table id="datatablesSimple" class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Matkul</th>
            <th>SKS</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for mahasiswa in mahasiswas %}
        <tr>
            <td>{{ mahasiswa.id }}</td>
            <td>{{ mahasiswa.matkul  }}</td>
            <td>{{ mahasiswa.sks  }}</td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock cardtable %}
