{% extends 'base.html' %}

{% block title %}
Data User
{% endblock title %}


{% block header %}
<h1 class="mt-4">User</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Laporan</li>
</ol>
{% endblock header %}

{% block cardheader %}
<i class="fas fa-table me-1"></i>
Data User
{% endblock cardheader %}

{% block cardtable %}
<p>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addnewmember"
        style="width:300px;">
        Tambah User
    </button>
</p>
<!-- Modal -->
<div class="modal fade" id="addnewmember" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tambah User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/admins/createmember/">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <!-- <div class="mb-3">
                        <label>Nim</label>
                        <input type="text" id="Nim" class="form-control" name=Nim />
                    </div>
                    <div class="mb-3">
                        <label>Foto</label>
                        <input type="file" id="Foto" class="form-control" name=Foto accept="image/*"/>
                    </div>
                    <div class="mb-3">
                        <label>Nama</label>
                        <input type="text" id="Nama" class="form-control" name=Nama />
                    </div>
                    <div class="mb-3">
                        <label>Kelas</label>
                        <select class="form-select" aria-label="Default select example"
                            name="Kelas">

                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                            <option value="E">E</option>
                            <option value="Internasional">Internasional</option>

                        </select>
                    </div>
                    <div class="mb-3">
                        <label>Semester</label>
                        <select class="form-select" aria-label="Default select example"
                            name="Semester">

                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>

                        </select>
                    </div>
                    <div class="mb-3">
                        <label>Telepon</label>
                        <input type="text" id="Telepon" class="form-control" name=Telepon />
                    </div>
                    <div class="mb-3">
                        <label>Alamat</label>
                        <input type="text" id="Alamat" class="form-control" name=Alamat />
                    </div>
                    <div class="mb-3">
                        <label>Jenis Kelamin</label>
                        <select class="form-select" aria-label="Default select example"
                            name="Jenis_Kelamin">

                            <option value="Laki-laki">Laki-laki</option>
                            <option value="Perempuan">Perempuan</option>


                        </select>
                    </div> -->


            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" value="Submit" id="submit">Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>

<hr style="border-top:1px solid #000; clear:both;" />
<table id="datatablesSimple" class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nim</th>
            <th>Foto</th>
            <th>Nama</th>
            <th>Kelas</th>
            <th>Semester</th>
            <th>Telepon</th>
            <th>Alamat</th>
            <th>Jenis Kelamin</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for Member in Members %}
        <tr>
            <td scope="row">{{Member.id}}</td>
            <td>{{ Member.Nim }}</td>
            {% if Member.Foto %}
            <td><img src="{{ Member.Foto.url }}" width="100px" height="100px" />{{Member.Foto}}</td>
            {% else %}
            <td><img src="upload/Members.png" width="100px" height="100px" /></td>
            {% endif %}
            <td>{{ Member.Nama }}</td>
            <td>{{ Member.Kelas }}</td>
            <td>{{ Member.Semester }}</td>
            <td>{{ Member.Telepon }}</td>
            <td>{{ Member.Alamat }}</td>
            <td>{{ Member.Jenis_Kelamin }}</td>
            <td>
                <form action="{% url 'delete-member' Member.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit" ><i class="fa fa-trash" onclick="return confirm('Are you sure want to delete ?')"></i></button>
                </form>
                </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock cardtable %}